/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* previous arrow key*/
.slick-prev {       
    left: 3% !important;
    z-index: 1;
  }
/*right arrow key*/ 
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  